#header-navigation .sub-logo {
    padding-left: 17px;
}

#send-us-message {
    background-color: #e4e4e4;
}

#content-send-message {
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

#list-input-message {
    padding-top: 150px;
    width: 40%;
}

#content-send-message h2 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 200;
}

#content-send-message #list-input-message .form-control {
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #c79c60;
    color: #555;
    outline: none;
}

#content-send-message #googleMap {
    width: 55%;
    top: 207px;
    height: 361px;
    position: absolute;
    border: 3px solid white;
    border-radius: 5px;
    right: 0px;
}

#content-send-message #list-input-message #message {
    width: 100%;
    height: 132px;
    border: 1px solid #c79c60;
    color: #555;
    border-radius: 10px;
    position: relative;
    outline: none;
    padding: 6px 12px;
}

#content-send-message #list-input-message #message::placeholder {
    position: absolute;
    top: 0px;
    padding-top: 6px;
    font-family: 'Open Sans', sans-serif;
}

#content-send-message #list-input-message .read-more {
    margin-left: 0;
}

@media only screen and (max-width:768px) {
    #content-send-message h2 {
        font-size: 19px;
    }
    #banner #table-set {
        top: -33px;
    }
    #content-send-message #googleMap {
        top: 197px;
    }
}

@media only screen and (max-width:414px) {
    #list-input-message {
        width: 40%;
        margin-left: 5%;
    }
    #content-send-message #list-input-message .form-control,
    #content-send-message #list-input-message #message {
        width: 100%;
    }
    #content-send-message #googleMap {
        top: 197px;
    }
    #content-send-message {
        flex-direction: column;
    }
    #list-input-message {
        width: 90%;
        padding-top: 80px;
    }
    #send-us-message {
        height: 980px;
    }
    #content-send-message #googleMap {
        top: 570px;
        width: 90%;
        margin-right: 5%;
    }
    #banner #table-set {
        top: 118px;
    }
    #content-send-message h2 {
        font-size: 30px;
    }
}